body{
    background-image: url('https://img.freepik.com/free-vector/abstract-banner-with-rainbow-flow-design_1048-12617.jpg');
    background-repeat: no-repeat;
    background-size: 100% 400vh;
    color: wheat;
}

@media only screen and (max-width: 480px) {
    body{
      background-size: 100% 100%;
    }
  }
